@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
/* @import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap); */
/* @import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header,
.social {
    display: grid
}
#tecno,
.nav-link a,
.nav-logo a {
    position: relative
}

.main-container__link,
.welcome,
main {
    text-align: center
}

.blogs-btn:hover,
.main-container__link:hover,
.news {
    background: linear-gradient(-45deg, #c9c9c942, #9e9d9d97);
    border-radius: 5px;
}

#imgg,
* {
    margin: 0
}

* {
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 400;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/Tecnología-digital-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-body1 {
    position: fixed;
    background-repeat: inherit
}

.header {
    width: 100%;
    height: 140px;
    grid-template-rows: 1fr 1fr
}

.social{
    /* width: 100vw; */
    height: 80px;
    background: linear-gradient(360deg, #000000c1, #1e1d1d9d);
    border-radius: 5px;
}
footer {
    /* width: 100vw; */
    height: 80px;
    background: linear-gradient(360deg, #000000c1, #1e1d1d9d)
}
.nav-link1 a {
    background: linear-gradient(45deg, #000000c1, #3535359d);
    text-decoration: none;
    font-weight: 700
}
.main-container__link,
.nav-link a {
    background: linear-gradient(45deg, #000000c1, #3535359d);
    text-decoration: none;
    font-weight: 700
}

#tecno,
.nav-link,
.nav-logo p,
main {
    display: flex
}

.nav-logo {
    width: 50px;
}

.social-icons {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 130px;
    z-index: 10
}

.social-icons a {
    color: #fff;
    font-size: 28px
}

.social-icons a:hover {
    color: #52076f55
}

.nav-logo p {
    align-items: center;
    margin-left: 50px;
    width: 130px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-decoration: none;
    color: #ffffff
}

#tecno {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ffffffc1, #5555559d);
    border-radius: 10px ;
    letter-spacing: 4px;
    left: 5px;
    width: 122px;
    justify-content: center;
    font-weight: 700;
}

.nav-logo a {
    width: 50px;
    max-width: 50px;
    text-decoration: none;
    top: -80px
}

.fa-square-facebook,
.fa-github,
.fa-instagram,
.fa-linkedin {
    filter: drop-shadow(2px 5px 0px rgb(0, 0, 0))
}

.main-container__text,
.welcome {
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(4px 3px 0px rgb(0, 0, 0))
}

.nav-link1 {
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    position: relative;
    top: -52px;
}
.nav-link {
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.welcome {
    font-family: 'Permanent Marker';
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    width: 600px;
    height: 70px;
    margin: 45px auto 10px
}

.nav-link1 a {
    color: #fff;
    filter: drop-shadow(2px 3px 0px rgb(0, 0, 0));
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 15px;
    position: relative;
    top: -50px;
    right: -1129px;
}
.nav-link a {
    color: #fff;
    filter: drop-shadow(2px 3px 0px rgb(0, 0, 0));
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 15px;
    top: -58px
}

.posts-blogs h4,
.posts-blogs p {
    filter: drop-shadow(1px 1px 0px rgb(0, 0, 0))
}

main {
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.main-container__text {
    text-align: center;
    font-weight: 700;
    margin: 35px
}

.main-container__link {
    align-items: center;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    height: 45px
}

.nav-link1 a:hover {
    background: linear-gradient(45deg, #222222c1, #6767679d)
}
.nav-link a:hover {
    background: linear-gradient(45deg, #222222c1, #6767679d)
}

.blogs-main {
    display: grid
}

.news {
    padding: 10px 80px 40px
}

.blogs-btn,
.blogs-btn2 {
    background: linear-gradient(-45deg, #000000c1, #3535359d);
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none
}

.blogs-btn,
.blogs-btn2:hover {
    background: linear-gradient(-45deg, #353535c1, #6b6b6b9d)
}

.news-contein {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr
}

.news-contein a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(236, 234, 234)
}

.news-contein a:hover {
    color: #ffffff8e
}
.news-contein h3{
    text-align: center;
    margin: 10px 50px 5px 0px;
}
.blogs-btn2 {
    color: #000;
    border: 1px solid #2a2a2b;
    border-radius: 3px
}

.blogs-btn2:hover {
    background: linear-gradient(-45deg, #2c2c2cc1, #8484849d)
}

.news-contein img {
    border-radius: 10px;
    grid-column: 1;
    width: 85%;
    display: inline-block;
    margin: 10px 0
}

.news-info {
    grid-column: 2
}

.news-info h2 {
    margin-top: 20px
}

.news-info p {
    font-family: 'Roboto', sans-serif;
    margin: 30px
}

.posts h3,
.posts2 h3,
.postsb h3 {
    padding: 20px 0;
    border-bottom: 1px solid #cdd2da;
    color: #cdd2da;
    text-align: center
}

.blogs-btn {
    font-family: 'Roboto', sans-serif;
    color: #fefefe;
    border-radius: 10px;
}

.posts {
    margin: 15px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.posts2 {
    margin: 200px 60px 20px
}

.postsb {
    margin: 20px 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.postsb h3 {
    margin: 0 70px 0 0
}

.tipeado {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 90px;
    text-align: center
}

.posts-blogs {
    display: inline-block;
    padding: 20px;
    background-color: #cdd2da30;
    border-radius: 11px;
    margin: 15px;
    text-align: center
}

.posts-blogs img {
    width: 100%;
    border-radius: 15px
}

.main-blog1__content img,
.main-blog__content img {
    border-radius: 5px;
    padding: 0;
    display: inline-block
}

.posts-blogs h4 {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
    color: #cdd2da;
    border-bottom: 1px solid #cdd2da
}

.posts-blogs p {
    margin-bottom: 35px;
    color: #cdd2da;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 700; */
}

.conoc {
    color: #edecef;
    margin: 20px;
}

footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

footer p {
    color: #fff;
    text-align: center
}

.main-blog1 {
    padding: 0;
    margin: -250px 0 0
}

.main-blog1__content img {
    width: 500px;
    height: 300px;
    margin: 15px
}

.main-blog {
    padding: 0
}

.main-blog__content img {
    width: 100%
}

.blog-content__article h4,
.blog-content__article1 h4 {
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0
}

#imgg {
    display: inline-block;
    padding: 0;
    width: 100%
}
.blog-content__article1 h4 {
    color: #cdd2da;
    text-align: center;
    margin: 15px auto 30px;
    max-width: 50vw
}

.blog-content__article h1 {
    margin: 20px 0;
    font-size: 35px
}

.blog-content__article a img {
    /* max-width: 400px; */
    align-items: center;
    margin: 20px 0 0 220px
}

.blog-content__article1 p {
    color: #cdd2da;
    text-align: center;
    margin: 15px 0 30px;
    margin: auto;
    max-width: 50%;
}

.blog-content__article p {
    text-align: center
}

.section-contact {
    width: 100%;
    background-color: #e6e9ed50;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 50px
}

.contact {
    display: flex;
    margin: 20px 0 20px 20px
}

.contact-info {
    padding: 20px 0;
    width: 300px
}

.contact img {
    width: 80px;
    display: inline-block;
    padding: 10px
}

.contact-info a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px
}

.contact-info p {
    margin-top: 10px
}

.profile {
    padding: 70px 100px;
    background: linear-gradient(-45deg, #aaaaaac1, #3333339d);
    margin-bottom: 5px;
    display: flex
}

.profile img {
    width: 320px;
    border-radius: 10px;
    margin: auto 40px auto 10px ;
}

.project-container {
    padding: 0 80px 40px
}

.project-container h3 {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #cdd2da36;
    padding: 20px 0;
    text-align: center;
    color: #cdd2da
}

.project {
    display: inline-block;
    padding: 15px;
    max-width: 32%;
    margin-bottom: 50px
}
.bars__menu,
.cont-menu {
    position: absolute;
    right: 0;
    display: block;
    z-index: 100;
}
.project h4 {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
    color: #cdd2da
}

.project p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    color: #cdd2da
}

.main-container__text {
    font-family: 'Permanent Marker';
    width: 8ch;
    animation: 2.5s steps(40) typing, .2s step-end infinite alternate blink;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.5em;
    color: #fff
}
@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.profile-info h2 p h1::selection {
    background-color: rgba(92, 247, 234, 0.751)
}
.profile-info p{
    text-align: center;
    margin: 10px;
}

.profile-info h2::first-letter {
    font-size: 60px
}


.bars__menu {
    filter: drop-shadow(3px 3px 0px rgb(0, 0, 0));
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 40px 50px;
    top: -10px;
    z-index: 70;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: .3s
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px)
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px)
}

.cont-menu {
    background: linear-gradient(-45deg, #2c2c2cc1, #8484849d);
    box-shadow: 2px 0 5px 2px #424242;
    width: 30vw;
    height: 100vh;
    top: 0;
    right: -10px;
    transition: .1s;
    z-index: 48;
    position: fixed;
}

.active {
    transform: translate(-35000px)
}

.cont-menu ul {
  
    list-style: none
}

.cont-menu ul li {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    width: 300px;
    /* margin: 0 0 0 20px; */
}

.cont-menu ul li a {
    filter: drop-shadow(2px 2px 0px rgb(0, 0, 0));
    text-decoration: none;
    color: #fff
}

.cont-menu ul li:hover {
    background-color: rgba(135, 135, 135, 0.72);
    color: #2a2a2a
}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #7b7b7bc1, #050505d7);
    /* box-shadow: 2px 0 5px 2px #424242; */
    /* width: 100vw; */
    height: 60px;
    z-index: 8;
    position: sticky;
    top: 0;
}
.item-a{
    color: whitesmoke;
    margin: 0 1.5rem;
    text-decoration: none;
}
.menuInf nav a:hover{
    background-color: rgba(21, 21, 21, 0.427);
    border-radius: 5px;
    
}
@media screen and (max-width:1060px) {
    .banner{
        display: none;
    }
    .posts {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .postsb {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
    .bars__menu,.cont-menu{
        position: fixed;
        right: 0px;
        top: -15px;
        display: block;
    }
    .cont-menu {
        background: linear-gradient(-45deg, #2c2c2cc1, #8484849d);
        box-shadow: 2px 0 5px 2px #424242;
        /* width: 260px; */
        height: 100vh;
        top: 0;
        right: -10px;
        transition: .1s;
        z-index: 8;
        position: fixed;
        width: 400px;
    }
    .cont-menu li{
            margin: auto 30px;
        }
    .cont-menu ul {
            padding: 100px 0 20px;
            list-style: none
}



@media screen and (max-width:540px) {
    .nav-link1 a{
        position: relative;
        right: -300px;
        top: 20px;
    }
    .banner{
        display: none;
    }
    .bars__menu{
        position: fixed;
        right: -30px;
        top: -30px;
        display: block;
    }
    .cont-menu {
        background: linear-gradient(-45deg, #2c2c2cc1, #8484849d);
        box-shadow: 2px 0 5px 2px #424242;
        /* width: 260px; */
        height: 100vh;
        top: 0;
        right: -10px;
        transition: .1s;
        z-index: 8;
        position: fixed;
        width: 400px
    }
    .cont-menu li{
        margin: auto 30px;
    }
    .cont-menu ul {
        padding: 100px 0 20px;
        list-style: none
    }
    .home-body1,
    body {
        background-image: url(../images/Tecnología-digital-01.png);
        background-repeat: repeat;
        background-attachment: fixed;
    }

    .home-body1,
    .posts-blogs,
    .project {
        text-align: center
    }

    body {
        font-family: 'Roboto Mono', monospace;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover
    }

    .home-body1 {
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-attachment: fixed
    }

    .social-icons {
        width: 100vw;
        padding: 0 5px;
        margin: 0;
        display: none
    }

    .nav-logo a {
        position: relative;
        top: -105px;
        right: 20px;
        width: 50px;
        margin-right: 10px;
        margin-left: 10px;
        z-index: 1
    }

    .nav-link a,
    .news-info {
        display: none
    }

    .nav-logo img {
        width: 150px
    }

    .welcome {
        width: 300px;
        font-size: 30px
    }

    .main-container__text {
        width: 300px;
        animation: 3s steps(30) typing, .5s step-end infinite alternate blink;
        border-right: 3px solid;
        font-size: 2.1em;
        color: #fff
    }

    .blog-content__article,
    .blogs-main,
    .main-blog__content img {
        padding: 0
    }

    .news {
        width: 100vw
    }

    .news-content {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto
    }

    .news-content img {
        grid-row: 2
    }

    .news-content .news-info {
        grid-row: 3;
        grid-column: 1
    }

    .news-contein {
        display: block
    }

    .posts {
        width: 100vw;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
    }

    .posts h3 {
        font-size: 18px
    }

    .postsb {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .postsb h3 {
        margin: 0
    }

    .posts-blog {
        max-width: 100%
    }

    .main-blog1__content img {
        width: 200px;
        height: 150px
    }

    .main-blog1__content {
        margin: 0;
        width: 100vw
    }

    .blog-content__article1 p {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        max-width: 100vw
    }

    .profile,
    .section-contact {
        padding: 10px;
        display: grid
    }

    .contact {
        display: grid;
        margin: 0
    }

    .posts-blogs {
        margin: 10px auto;
        max-width: 100vw;
        display: inline-block;
        flex-wrap: wrap;
        padding: 15px;
        background-color: #cdd2da30;
        border-radius: 11px
    }

    .blogs-btn {
        border-radius: 5px
    }

    .project {
        padding: 0;
        max-width: 100%
    }
}
}